@font-face {
    font-family: 'Clash Display';
    src: url('fonts/clash-display.woff2') format('woff2'),
         url('fonts/clash-display.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Clash Display', sans-serif;
}

*{ 
    margin: 0;
    padding: 0;
    
    max-width: 100vw;
}
.p{
    color: #8f8f8f;
    font-size: 1.25vw;
    font-family: "Clash Display",sans-serif;
}



.outerBody{
    background-color:#fefefe;
    border-radius: 20px;
    z-index: 0;
    overflow-x: hidden;
    
}
#header{
    margin: 30px 10vw;
    /* background-color: ; */
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.left-nav{
   display: flex;
   flex-direction: row;

}
.left-nav-box{
    position: relative;
}
.left-nav-box span{
    position:absolute;
    font-size:10px;
    top:0;
    right:-10px;
}
.left-nav img{
    
}
.left-nav-other-info{
    display: flex;
    margin: 0 20px;
    background: transparent;
}
.left-nav-other-info ul{
    display: flex;
    align-items: center;
}
.left-nav-other-info ul li{
    list-style: none;
    margin:0 10px;
}
.left-nav-other-info ul li a{
    text-decoration: none;
    color: black;
    font-family: "Clash Display";
    font-size: 20px;
}
.active{
    color:#ff5555;
    font-weight: 700;
}
.right-nav button{
    padding: 18px 40px;
    background-color: black;
    color: rgb(240, 240, 240);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
}

#home{
    margin: 10vh 0 300px 10vw;
    position: relative;
}
#home h1{
   font-size: 3.5vw;
   line-height:0.8;
   font-family: 'Clash Display';
}
.homeBox{
    display: flex;
    flex-direction: row;
}
.home-left{
    width: 47%;
}
#home .home-info{
    width: 100%;
    margin-top: 110px;
    z-index: 2;
    position: relative;
}
.home-info p{
    margin:25px 0;
}
.home-other-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.getStarted{
   background-color: black;
   color: white;
   padding: 14px 20px;
   display: flex;
   align-items: center;
   border-radius: 5px;
   cursor: pointer;
   font-size: medium;
   font-weight: bold;
}
.getStarted span{
    margin-right: 5px;
}
.watchVideo{
    padding: 14px 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
}
.watchVideo:hover{
    padding: 14px 20px;
    background-color: rgb(247, 253, 253);
}

.watchVideo span{
   margin-left:10px;

}
.home-right{
    position: relative;
    width: 57%;
    height:43.5vw;
    /* background-color: aqua; */
    /* left: -50px; */
}
.upellipse{
   width: 100%;
   position: absolute;
   z-index: 0;
   height:85%;
   /* background-color: aqua; */
}
.upellipse svg{
    width: 100%;
    height: 100%;
}
.upellipse svg ellipse{
    fill: transparent;
    stroke: black;
    stroke-width: 1;
    transform-origin: center;
    transform: rotate(45deg);
}
.upimageBox{
    width: 100%;
    /* background-color: grey; */
    height: 100%;
}
.iphone1{
    position: absolute;
    width: 45%;
    top: 8vw;
    left: 24vw;
    z-index: 2;
}
.iphone1 img{
    position: absolute;
}
.upsilverimg{
    width: 100%;
}
.upmockimg{
    position: absolute;
    width: 91%;
    left: 13px;
    top: 12px;
}
.iphone2{
    position: absolute;
    width: 45%;
    top: 4vw;
    left: 16.8vw;
    z-index: 3;
}
.iphone3{
    position: absolute;
    width: 45%;
    top:0vw;
    left: 9.5vw;
    z-index: 4;
}
.iphone1 img{
    position: absolute;
}
.home-imagefully{
    position: relative;
}
.aimg{
    position: absolute;
    top: 16.7vw;
    width: 8.2vw;
}
.box1img{
    position: absolute;
    left: 3.69vw;
    z-index: 5;
    width:36.3vw;
}
.box2img{
    position: absolute;
    top: 0.9vw;
    left: 20.8vw;
    z-index: 4;
    width:19.1vw;
}
.box3img{
    position: absolute;
    top: 16.9vw;
    left: 22.6vw;
    width: 17.8vw;
    z-index: 1;
}
.recbox1info{
    position: absolute;
    display: flex;
    transform: rotate(-28deg);
    top: 9.4vw;
    left: 5.2vw;
    color: white;
    z-index: 5;
    width: 34vw;
    justify-content: space-between;
}
.arcbox{
    display: flex;
    align-items: center;
}
.arch{
    font-size: 0.9vw;
    z-index:6;
}
.line1{
    width: 2px;
    height: 3.5vw;
    background-color: white;
    transform: rotate(25deg);
    margin: 0 10px;
}
.recbox2info{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9vw;
    transform: rotate(-45deg);
    top: 11vw;
    left: 23vw;
    z-index: 4;
    color: black;
    font-family: Clash Display;
}
.recbox3info
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 16.8vw;
    left: 26vw;
    z-index: 2;
    width: 12.6vw;
    font-size: 1.2vw;
}
.recbox3info img{
    width: 3vw;
    height: 3vw;
}
.rec3leftpart{
    display: flex;
    justify-content: space-between;
    width: 5.5vw;
    align-items: center;
}
.line2{
    width: 2px;
    height: 5vw;
    background-color: black;
}
.cellipse1{
    position: absolute;
    top: -6vw;
    left: 2vw;
    width:43vw;
    z-index: 1;
}
.cellipse2{
    position: absolute;
    top: -10vw;
    width: 43vw;
    left: 200px;
    z-index: 1;
}
.cellipse3{
    position: absolute;
    top: 0;
    width:43vw;
    left: 0px;
    z-index: 0;
}
.cellipse3 img{
    width:100%;
}
.cellipse2 img{
    width:100%;
}
.cellipse1 img{
    width:100%;
}
.cellipse4 img{
    width:100%;
}
.cellipse5 img{
    width:100%;
}
.cellipse6 img{
    width:100%;
}
.cellipse7 img{
    width:100%;
}
.cellipse8 img{
    width:43vw;
}

.cellipse4{
    position: absolute;
    top: 0;
    width: 29.2vw;
    left: 70vw;
    z-index: 0;
}
.cellipse5{
    position: absolute;
    top: 0;
    width: 43vw;
    left: 45vw;
    z-index: 0;
}
.cellipse6{
    position: absolute;
    top: -8vw;
    left: 5vw;
    width: 43vw;
    z-index: 0;
}
.cellipse7{
    position: absolute;
    top: 5vw;
    left: -5vw;
    width: 43vw;
    z-index: 0;
}
.cellipse8{
    position: absolute;
    top: -32vh;
    left: -15vw;
    z-index: 0;
}



#other-info{
    margin-top: 15vw;
}
.section1{
    display: flex;
    position: relative;
    margin: 20vh 0;
    height: 28.5vw;
}
.section1-image{
 width: 38%;
 display: flex;
 justify-content: center;
}
.section1-info{
   width: 38%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left:5vw;
}
.image-container-section1{
    position: relative;
    width: 40%;
    left: 2vw;
    top: -0.2vw;
    z-index: 2;
}
.silver{
    position: absolute;
    top: 1.2vw;
    left: -2.5vw;
    z-index: 2;
    width: 100%;
    height: fit-content;
}
.mockup{
    position: absolute;
    z-index: 3;
    width: 88%;
    left: -1.5vw;
    top: 1.8vw;
    height: 101%;
}
.ellipse-container{
    position: absolute;
    z-index: 1;
    width: 38%;
}
.ellipse-container svg{
    width:100%;
    height:34vw;
    /* background-color: aquamarine; */
}
.ellipse-container svg ellipse{
    fill: transparent;
    stroke: black;
    stroke-width: 1;
    transform-origin: center;
    transform: rotate(45deg);
}
.section1-info-part-headings{
    color: #ff5555;
    font-family: "Clash Display";
    font-weight: 300;
    font-size: 1.2vw;
}
.section1-info-part{
    margin: 10px 0;
}
.section1-info-part h2{
    font-family: 'Clash Display';
    font-weight:900;
    font-size:3.8vw;
}
.section1-info-part-subheading{
    display: flex;
    align-items: center;
    margin-bottom:5px;
}
.section1-info-part-subheading h4{
   font-size: 18px;
}
.section1-info-part-subheading img{
    width: 15px;
    height: 15px;
    margin-right:15px ;
}
.image-surr-box{
    padding:7px;
    margin-right: 5px;
    background-color: #ff5555;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.image-surr-box img{
    margin:auto;
}
.section1-info-part-subheading-h4{
    font-size:22px;
}

.section-testimonial{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding:0 10vw;
    margin:10vw 0 0 0;
    position: relative;
}
.tes-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.tes-heading h2{
   font-size: 48px;
   font-family: 'Clash Display';
   line-height: 0.9;
   width: 50%;
}
.tes-heading h4{
   font-size: 18px;
}
.tes-other{
    display: flex;
    margin:5vw 0;
    height: 500px;
}
.tes-imgbox{
    width: 50%;
    position:relative;
}
.tes-otherbox{
    width: 36%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0 50px 40px;
}
.tes-otherbox-imagebox{
    display: flex;
}
.tes-otherbox-imagebox img{
    width: 25px;
    margin-right:3px;
}
.tes-otherbox-imagebox-inactive {
    display: flex;
    align-items: center;
}
.tes-otherbox-imagebox-inactive img{
    opacity: 0.5;
    margin: 0 3px;
    width: 20px;
}
.tes-image-container{
    position:absolute;
    z-index: 3;
}
.tes-image-container div{
    padding: 1vw;
    background-color: #ff5555;
    border-radius: 50%;
    position: absolute;
    top: 18vw;
    left: 24vw;
}
.Ellipse41{
    width: 24vw;
    position: absolute;
    left: 11vw;
    top: 10vw;
}
.Ellipse42{
    width: 18vw;
    position: absolute;
    left: 23vw;
}
.Ellipse43{
    position: absolute;
    left: 25vw;
    top: 24vw;
    width: 18vw;
}
.Ellipse44{
    position: absolute;
    left: 2vw;
    top: 0px;
    width: 18vw;
}
.Ellipse45{
    position: absolute;
    left: 1.5vw;
    top: 23vw;
    width: 18vw;
}
.comma1{
  width:1.2vw;
   border-radius: 0.1vw;
}

#faq{
  padding: 0 10vw;
  margin: 3vw 0;
}
.faq-heading{
    margin-bottom:25px;
    width: 45%;
}
.faq-heading h2{
    font-size: 3.5vw;
    font-family: 'Clash Display';
    line-height: 0.9;
}
.faq-subbox{
    display: flex;
    flex-wrap: wrap;
    
}
.faq-subbox1{
    padding: 22px;
    background-color: #ff5555;
    border-radius:5px;
    width:35vw;
    color: white;
}
.faq-subbox h3{
    font-size: 2.0vw;
    margin-bottom: 10px;
    font-family: 'Clash Display';
}
.faq-subbox p{
    font-size:1.3vw;
    display: flex;
    flex-wrap: wrap;
    font-family: "Clash Display",sans-serif;
}
.faq-subbox2{
    padding: 22px;
    border-radius:5px;
    width:35vw;
}
.faq-subbox2 p{
    color: #8f8f8f;
}

#downloadSection{
    margin: 120px 10vw;
    max-width:80vw;
    height: 496px;
    background-color: black;
    position: relative;
    border-radius: 15px;
}
.downloadInfo{
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 5vw;
    height: 100%;
    justify-content: center;
    width: 44%;
}
.downloadInfo h2{
    font-size: 48px;
    font-family: 'Clash Display';
    line-height: 0.9;
}
.downloadInfo p{
    font-size: 18px;
    margin: 25px 0;
}
.downloadbtn{
  display: flex;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}
.downloadbtn span{
    color: black;
    margin-right: 5px;
    cursor: pointer;
    font-family: 'Clash Display';
    font-weight: 600;
}
.diphonebox{
    position: relative;
    /* background-color: #8f8f8f; */
    width: 33.9vw;
    height: 90%;
    top: 5%;
}
.diphone3{
    position: absolute;
    width: 143px;
    top: 0;
    left: 23.6vw;
    z-index: 3;
    height: auto;
}
.diphone3 img{
    position: absolute;
    width: 100%;
}
.diphone3 .Mockup{
    width: 96%;
    top: 10px;
    left: 8px;
}
.diphone2{
    position: absolute;
    width: 222px;
    top: 61px;
    left: 13vw;
    z-index: 4;
    height: auto;
}
.diphone2 img{
    position: absolute;
    width: 100%;
}
.diphone2 .Mockup{
    width: 89.5%;
    top: 6px;
    left: 7px;
}
.diphone1{
    position: absolute;
    width: 286px;
    top: 88px;
    left: -7px;
    z-index: 5;
    height: auto;
}
.diphone1 img{
    position: absolute;
    width: 100%;
}
.diphone1 .Mockup{
    width: 92.5%;
    top: 6px;
    left: 5px;
}
.ebox1{
    position: absolute;
    width: 450px;
    top: 292px;
    /* background-color: aquamarine; */
}
.ebox1 svg{
    width: 100%;
    height:200px;
}
.ebox1 svg ellipse{
   stroke: white;
   fill: transparent;
   z-index: 4;
   transform: rotate(45deg);
}
.ebox2{
    position: absolute;
    width: 450px;
    top: 0;
    left: 652px;
}
.ebox2 svg{
    width: 100%;
    height:400px;
}
.ebox2 svg ellipse{
   stroke: white;
   fill: transparent;
   z-index: 4;
    transform: rotate(45deg);
    transform-origin: center;
}
#footer{
    display:flex;
    flex-direction: column;
    margin:5vw 10vw;
    background-color: #fefefe;
}
.upper-footers{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.upper-footerSub{
    display: flex;
    flex-direction: column;
}
.upper-footerSubone{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.logoBox{
    display: flex;
}
.logoBox span{
    font-size: 7px;
}
.upperfooterh4{
  color: black;
  text-decoration: none;
  font-size: 16px;
  margin-left:10px;
  font-family: 'Clash Display';
  font-weight: 400;
}
.upperfooterh3{
    font-size: 32px;
    margin-left: 10px;
    font-family: 'Clash Display';
    font-weight:500;
    
}
.emailBox{
    background-color: transparent;
    /* padding: 21px 28px; */
    border-radius: 5px;
    margin-left:10px;
}
.emailBox input{
    font-size: 16px;
    outline: none;
    border: none;
    background-color: transparent;
    margin: 21px 0px 21px 28px;
    width:120px;
}
.emailBox button{
  padding:15px 28px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  border-radius:5px;
  margin-right:10px;
  cursor: pointer;
}
.sepline{
    height: 0.5px;
    width: 100%;
    background-image: linear-gradient(to right,white,grey, white);
    margin: 80px 0;
}
.lower-footer{
   display: flex;
   align-items: center;
   justify-content: center;
}
.lower-footer h4{
    font-family: "Clash Display";
    font-weight: 500;
}

._1star{
    position: absolute;
    top: 15vh;
    left: 3.5vw;
}
._2star{
    position: absolute;
    top: 7vh;
    right: 5vh;
}
._3star{
    position: absolute;
    top: 80vh;
    left: 30vh;
    /* transform: rotate(45deg); */
}
._4star{
    position: absolute;
    top: 90vh;
    right: 27vw;
    z-index: 2;
}
._5star{
    position: absolute;
    top: 200vh;
    right: 12vw;
}
._6star{
    position: absolute;
    top: 270vh;
    left: 36vw;
}
._7star{
    position: absolute;
    top: 340vh;
    right: 36vw;
}
._8star{
    position: absolute;
    top: 475vh;
    left: 44vw;
}
._9star{
    position: absolute;
    top: 573vh;
    right: 11vw;
    transform: rotate(25deg);
}
._10star{
    position: absolute;
    top: 50vh;
    left: 28vw;
    z-index:4;
    
}
._11star{
    position: absolute;
    top: 8vh;
    left: 47vw;
    z-index:4;
    
}
.visacard{
    position: absolute;
    top: 7vw;
    left: 12vw;
    z-index: 4;
    width:16vw;
}
.onHold{
    position: absolute;
    top:8vw;
    left:57vw;
    z-index: 4;
    width: 20vw;
}
